body {
    display: grid;
    width: 100%;
    background-color: #fff;
    margin: 0;
    height: 100vh;
    min-height: 600px;
    justify-content: center;
}

#container {
    width: 500px;
    height: 100vh;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 1fr 70px;
    background-color: #FBFFC0;
    justify-items: center;
}

#search_field {
    width: 450px;
    display: grid;
    align-content: center;
    grid-template-rows: 50px;
    grid-gap: 20px;
    grid-template-columns: 50px 1fr;
    justify-content: space-evenly;
}

#logo {
    display: grid;
    align-content: center;
    font-weight: bold;
    font-family: cursive;
}

#search_box {
    display: grid;
    border: 3px solid #6B3F26;
    align-items: center;
    border-radius: 10px;
    grid-template-columns: 1fr 10px 30px;
    grid-template-rows: 30px;
    align-content: center;
}

#search_box hr {
    width: 0px;
    height: 30px;
    color: #6B3F26;
}

#search_input {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr;
    font-size: 20px;
    justify-content: center;
    margin-left: 7px;
}

#search_input input {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: cursive;
    color: #6B3F26;
}

#search_icon {
    display: grid;
    justify-content: center;
    cursor: pointer;
    text-align: left;
    margin-left: -5.5px;
    color: #6B3F26;
}

#search_results {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 1fr;
}

.result {
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-columns: 400px;
}


.link {
    display: grid;
    grid-template-rows: 45px 30px;
    grid-template-columns: 400px;
    grid-gap: 5px;
    font-family: cursive;
}

.link :first-child {
    display: grid;
    grid-template-rows: 15px 15px;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
}

.link :first-child :first-child {
    margin-left: 10px;
    grid-row: span 2;
    border-radius: 50%;
    background-color: #6B3F26;
    display: grid;
    align-self: center;
    justify-content: center;
}

.link :first-child :nth-child(2) {
    font-size: 18px;
}

.link :first-child :nth-child(3) {
    font-size: 12px;
    margin-left: 3px;
    font-weight: normal;
}

.link :last-child {
    margin-left: 12px;
    font-size: 22px;
    color: #3c1d0c;
}

.description {
    margin-left: 15px;
    text-align: justify;
    font-size: 11px;
    font-family: cursive;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo img {
    border-radius: 50%;
    width: 45px;
    border: 5px solid #6B3F26;
}

#logo {
    display: grid;
    justify-self: start;
}