@media screen and (max-width: 500px) {
    #container {
        width: 90%;
    }

    #head {
        font-size: 15px;
    }

    select {
        font-size: 15px;
        width: 90px;
    }

    #search_field {
        grid-template-columns: 80%;
    }

    #search_input {
        grid-template-columns: 95%;
    }

    #suggestions {
        display: none;
    }

    #body {
        margin-top: 0;
        align-self: center;
    }

}

@media screen and (max-width: 320px) {
    select {
        display: none;
    }

    #head {
        grid-template-columns: 1fr;
    }
}